{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            编辑资料
        </div>
        <div class="top-panel__filter">
            保存
        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="container">
        <div class="edit-profile">
            <div class="edit-profile__block">
                <article>
                    <p>雷达消息通知会发送到邮箱：<a href="#">aaaa@qq.com</a></p>
                    <p>如需修改请前往 <strong>我的资料 设置</strong></p>
                </article>
            </div>
            <div class="edit-profile__block">
                <div class="edit-profile__form">
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>年龄</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>身高</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>学历</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>现居城市</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>户籍所在地</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>家乡/老家</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>学历</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>婚姻状况</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>子女情况</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>行业</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                    <div class="search-form__line">
                        <label class="select-label">
                            <span>职业</span>
                            <select>
                                <option>不限</option>
                                <option>25-30岁</option>
                                <option>25-30岁</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            <div class="edit-profile__button">
                <button class="button">保存</button>
            </div> 

        </div>
    </div>
</div>

{% include "modals.html" %}

{% endblock %}