{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            消息
        </div>
        <div class="top-panel__filter">
            <!--<i class="fa fa-filter" aria-hidden="true"></i>-->
            <!--筛选-->
        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="container">
        <div class="edit-profile">
            <div class="edit-profile__block">
                <div class="edit-profile__tips">
                    <h5>面向对象的特点</h5>
                    <ul>
                        <li>有门槛  要求专科及以上学历</li>
                        <li>有审核  严格核实身份和学历信息</li>
                        <li>有效率  平台简单、高效，个人相亲主页信
                            息丰富，更高效地了解Ta</li>
                    </ul>
                </div>
                <div class="edit-profile__tips" style="background: #dafbd9;">
                    <h5>脱单和用户评价</h5>
                    <p>这里展示了来自 <a href="#">用户的真实脱单和用户评价</a></p>
                </div>
                <div class="edit-profile__tips" style="background: #fbf5d6;">
                    <h5>付费服务介绍</h5>
                    <p>面向对象是一个付费相亲平台，最佳的相亲时光并不长，花很小的费用高效地相亲是明智的。普通VIP可以使用完整的相亲服务，其他高级VIP可以享受特别的功能。
                        <a href="#">
                        详见会员服务列表。</a></p>
                </div>
                <div class="edit-profile__button">
                    <button class="button">我已了解，下一步</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}