{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            我关注的人
        </div>
        <div class="top-panel__filter">

        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="container">
        <div class="catalog">
            <div class="catalog__block">
                <a href="#attention4" class="catalog__close fancybox"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="catalog__top">
                    <figure>
                        <img src="img/catalog_small.png" alt="">
                        <figcaption class="vip">
                            SVIP
                        </figcaption>
                    </figure>
                    <div class="catalog__top-text">
                        <div class="catalog__name">
                            <h6>AWWA</h6>
                            <span>IT互联网 </span>
                            <span>运营总监</span>
                        </div>
                        <div class="catalog__tags">
                            <span>30岁</span>
                            <span>160cm</span>
                            <span>上海</span>
                            <span>本科</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__image">
                    <img src="img/catalog_block.png" alt="">
                </div>
            </div>
            <div class="catalog__block">
                <a href="#attention4" class="catalog__close fancybox"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="catalog__top">
                    <figure>
                        <img src="img/catalog_small.png" alt="">
                        <figcaption class="vip">
                            SVIP
                        </figcaption>
                    </figure>
                    <div class="catalog__top-text">
                        <div class="catalog__name">
                            <h6>AWWA</h6>
                            <span>IT互联网 </span>
                            <span>运营总监</span>
                        </div>
                        <div class="catalog__tags">
                            <span>30岁</span>
                            <span>160cm</span>
                            <span>上海</span>
                            <span>本科</span>
                        </div>
                    </div>
                </div>
                <div class="catalog__image">
                    <img src="img/catalog_block.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% include "bottom-panel.html" %}
{% include "modals.html" %}
{% endblock %}