{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            帮助
        </div>
        <div class="top-panel__filter">

        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="container">
        <div class="help">
            <h2>一、关于帐号、注册、登录:</h2>
            <div class="help__acc">
                <div class="help__trigger">1. 如何注册帐号？</div>
                <div class="help__content">
                    <section>
                        <p>提供两种主要注册方式：手机号和邮箱。</p>
                        <ol>
                            <li>注册表单都是必填项，请检查表单是否填写完整；</li>
                            <li>用户名、手机号、邮箱都是唯一的，如果已注册，
                        请使用该帐号直接登录；</li>
                            <li>如果无法登录，请点击“忘记密码”，进行密码找回；</li>
                            <li>如果帐号遗失或无法验证可以联系我们；</li>
                        </ol>
                    </section>
                </div>
                <div class="help__trigger">2. 我可以使用哪些方式登录？</div>
                <div class="help__content">
                    <section>
                        <p>提供两种主要注册方式：手机号和邮箱。</p>
                        <ol>
                            <li>注册表单都是必填项，请检查表单是否填写完整；</li>
                            <li>用户名、手机号、邮箱都是唯一的，如果已注册，
                                请使用该帐号直接登录；</li>
                            <li>如果无法登录，请点击“忘记密码”，进行密码找回；</li>
                            <li>如果帐号遗失或无法验证可以联系我们；</li>
                        </ol>
                    </section>
                </div>
                <div class="help__trigger">3. 忘记密码怎么办？</div>
                <div class="help__content">
                    <section>
                        <p>提供两种主要注册方式：手机号和邮箱。</p>
                        <ol>
                            <li>注册表单都是必填项，请检查表单是否填写完整；</li>
                            <li>用户名、手机号、邮箱都是唯一的，如果已注册，
                                请使用该帐号直接登录；</li>
                            <li>如果无法登录，请点击“忘记密码”，进行密码找回；</li>
                            <li>如果帐号遗失或无法验证可以联系我们；</li>
                        </ol>
                    </section>
                </div>
                <div class="help__trigger">4. 如何修改用户名？</div>
                <div class="help__content">
                    <section>
                        <p>提供两种主要注册方式：手机号和邮箱。</p>
                        <ol>
                            <li>注册表单都是必填项，请检查表单是否填写完整；</li>
                            <li>用户名、手机号、邮箱都是唯一的，如果已注册，
                                请使用该帐号直接登录；</li>
                            <li>如果无法登录，请点击“忘记密码”，进行密码找回；</li>
                            <li>如果帐号遗失或无法验证可以联系我们；</li>
                        </ol>
                    </section>
                </div>
                <div class="help__trigger">5. 为什么无法登录？</div>
                <div class="help__content">
                    <section>
                        <p>提供两种主要注册方式：手机号和邮箱。</p>
                        <ol>
                            <li>注册表单都是必填项，请检查表单是否填写完整；</li>
                            <li>用户名、手机号、邮箱都是唯一的，如果已注册，
                                请使用该帐号直接登录；</li>
                            <li>如果无法登录，请点击“忘记密码”，进行密码找回；</li>
                            <li>如果帐号遗失或无法验证可以联系我们；</li>
                        </ol>
                    </section>
                </div>
                <div class="help__trigger">6. 我可以注销帐号吗？</div>
                <div class="help__content">
                    <section>
                        <p>提供两种主要注册方式：手机号和邮箱。</p>
                        <ol>
                            <li>注册表单都是必填项，请检查表单是否填写完整；</li>
                            <li>用户名、手机号、邮箱都是唯一的，如果已注册，
                                请使用该帐号直接登录；</li>
                            <li>如果无法登录，请点击“忘记密码”，进行密码找回；</li>
                            <li>如果帐号遗失或无法验证可以联系我们；</li>
                        </ol>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "modals.html" %}
{% endblock %}