{% extends "layout.html" %}

{% block content %}

<div class="start-page login-home" style="background-image: url(img/start-bg.jpg );">
    <div class="login-home__container">
        <a href="/" class="logo"><img src="img/logo-login.png" alt=""></a>
        <div class="login-home__buttons">
            <a href="#" class="button yellow-btn"><i class="fa fa-weixin"></i>微信登录</a>
            <a href="#" class="button yellow-btn"><i class="fa fa-weibo"></i>微博登录</a>
            <a href="#" class="button yellow-btn"><i class="fa fa-mobile"></i>手机登录</a>
        </div>
    </div>
</div>

{% endblock %}