{% extends "layout.html" %}

{% block content %}

<div class="start-page start-page__column" style="background-image: url(img/start-bg.jpg );">
    <div class="back">
        <div class="container">
            <a href="#" class="back__link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <div class="back__text">
                登录
            </div>
        </div>
    </div>
    <div class="start-page__form">
        <div class="start-page__form-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <input type="text" placeholder="手机号/邮箱">
        </div>
        <div class="start-page__form-item">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" placeholder="请输入密码">
        </div>
        <div class="start-page__form-button">
            <button class="button">登录</button>
            <div>忘记密码？</div>
        </div>
        <div class="start-page__login-text">
            <span>其他账号登录：</span>
            <a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a>
        </div>
        <div class="start-page__form-bottom">
            <a href="#">我还不是会员，立即注册</a>
        </div>
    </div>
</div>

{% endblock %}