{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            设置
        </div>
        <div class="top-panel__filter">
            保存
        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="container">
        <div class="my-settings my-settings-message">
            <ul>
                <li>
                    <div class="my-settings__item">
                        <span class="my-settings__text">原密码</span>
                        <span class="my-settings__input">
                            <input type="text" placeholder="请输入">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="my-settings__item">
                        <span class="my-settings__text">原密码 <small>(6-20位数字或字母）</small></span>
                        <span class="my-settings__input">
                            <input type="text" placeholder="请输入">
                        </span>
                    </div>
                </li>
                <li>
                    <div class="my-settings__item">
                        <span class="my-settings__text">确认密码</span>
                        <span class="my-settings__input">
                            <input type="text" placeholder="请输入">
                        </span>
                    </div>
                </li>
            </ul>
            <div class="edit-profile__button">
                <button class="button">保存</button>
                <a href="#">忘记密码？</a>
            </div>
        </div>
    </div>
</div>


{% include "modals.html" %}

{% endblock %}