{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            筛选
        </div>
        <div class="top-panel__filter">

        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="container">
        <div class="search-form">
            <div class="search-form__block">
                <div class="search-form__line">
                    <label class="select-label">
                        <span>年龄</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>身高</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="search-form__block">
                <div class="search-form__line text_center">
                    开通<span class="red">VIP会员</span>使用高级筛选功能
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>学历</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>年收入</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>现居城市</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>户籍所在地</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>婚姻状况</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>购房</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
                <div class="search-form__line">
                    <label class="select-label">
                        <span>购车</span>
                        <select>
                            <option>不限</option>
                            <option>25-30岁</option>
                            <option>25-30岁</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="search-form__find text_center">
                <i class="fa fa-bullseye" aria-hidden="true"></i>
                系统自动帮你找对象
            </div>
            <div class="search-form__button">
                <button class="button empty">重置</button>
                <button class="button">确认</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}