{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            发话题
        </div>
        <div class="top-panel__filter">

        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="topic-block bdrs0">
        <div class="topic-block__profile">
            <div class="catalog__top">
                <figure>
                    <img src="img/user-picture3.png" alt="">
                </figure>
                <div class="catalog__top-text">
                    <div class="catalog__name">
                        <h6>AWWA</h6>
                        <span>IT互联网 </span>
                        <span>运营总监</span>
                        <div class="w100">
                        <span>IT互联网 </span>
                        <span>运营总监</span>
                        </div>
                    </div>
                    <nav>
                        <a href="#" class="button empty btn-xs">关注TA</a>
                        <a href="#" class="button empty btn-xs">TA的相亲主页</a>
                    </nav>
                    <div class="topic-block__profile-tags">
                        <span>发起12个话题，</span>
                        <span>发表12个观点</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="topic-block">
            <nav class="topic-profile-option-nav">
                <a href="#" class="button btn-xs gray-btn-empty">发起的话题</a>
                <a href="#" class="button btn-xs empty">发表的观点</a>
                <a href="#" class="button btn-xs gray-btn-empty">收藏的话题</a>
                <a href="#" class="button btn-xs gray-btn-empty">收藏的观点</a>
            </nav>
            <div class="topic-profile-option">
                <h5>如何评价蒋方舟的新书《我承认我不曾历经沧桑》？</h5>
                <div class="topic-profile-option-container">
                    <figure>
                        <img src="img/catalog_small.png" alt="">
                    </figure>
                    <div class="topic-profile-option__content">
                        <section>
                            <article>
                                <strong>我的昵称</strong>
                                <span>浙江 - 杭州</span>
                            </article>
                            <p>我始终认为哲学发轫于底层，如果哲学还有点用的话，首要作用就是要为弱势群体寻找到生命的尊严和力量，让他们具有一般的权利意识，不再像牲口一样的被"主子"来回摆弄。康德也曾说，如果我的康德也曾说，如果我哲学无法服务于一般老百姓的话，那真抵不上一个梦。可惜，哲学…
                            </p>
                        </section>
                        <nav class="topics-list__nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-thumbs-up"></i> 21</a></li>
                                <li><a href="#"><i class="fa fa-comment"></i> 3</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> </a></li>
                                <li><a href="#"><i class="fa fa-share-alt"></i> </a></li>
                                <li><a href="#"><i class="fa fa-trash"></i></a></li>
                                <li><a class="dropup"><i class="fa fa-cog"></i> </a>
                                    <ol>
                                        <li><label class="topic-radio"><input type="radio" name="r"><span>公开发表</span></label></li>
                                        <li><label class="topic-radio"><input type="radio" name="r"><span>匿名发表</span></label></li>
                                    </ol>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="topic-profile-option">
                <h5>如何评价蒋方舟的新书《我承认我不曾历经沧桑》？</h5>
                <div class="topic-profile-option-container">
                    <figure>
                        <img src="img/catalog_small.png" alt="">
                    </figure>
                    <div class="topic-profile-option__content">
                        <section>
                            <article>
                                <strong>我的昵称</strong>
                                <span>浙江 - 杭州</span>
                            </article>
                            <p>我始终认为哲学发轫于底层，如果哲学还有点用的话，首要作用就是要为弱势群体寻找到生命的尊严和力量，让他们具有一般的权利意识，不再像牲口一样的被"主子"来回摆弄。康德也曾说，如果我的康德也曾说，如果我哲学无法服务于一般老百姓的话，那真抵不上一个梦。可惜，哲学…
                            </p>
                        </section>
                        <nav class="topics-list__nav">
                            <ul>
                                <li><a href="#"><i class="fa fa-thumbs-up"></i> 21</a></li>
                                <li><a href="#"><i class="fa fa-comment"></i> 3</a></li>
                                <li><a href="#"><i class="fa fa-star"></i> </a></li>
                                <li><a href="#"><i class="fa fa-share-alt"></i> </a></li>
                                <li><a href="#"><i class="fa fa-trash"></i></a></li>
                                <li><a class="dropup"><i class="fa fa-cog"></i> </a>
                                    <ol>
                                        <li><label class="topic-radio"><input type="radio" name="r"><span>公开发表</span></label></li>
                                        <li><label class="topic-radio"><input type="radio" name="r"><span>匿名发表</span></label></li>
                                    </ol>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}