{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__center">
            消息
        </div>
        <div class="top-panel__filter yellow">
            <i class="fa fa-edit" aria-hidden="true"></i>
            筛选
        </div>
    </div>
</div>
<!-- end panel -->

<div class="main">
    <div class="container">
        <div class="topic-block">
            <nav class="topic-nav">
                <a href="#" class="button empty">热门话题</a>
                <a href="#" class="button gray-btn-empty">最新话题</a>
            </nav>
            <div class="topics-list">
                <div class="topics-list-msg">
                    <h6>如何评价蒋方舟的新书《我承认我不曾历经沧桑》？</h6>
                    <nav class="topics-list__nav">
                        <ul>
                            <li>
                                <a href="#" class="active">
                                    <i class="fa fa-thumbs-up"></i>
                                    21
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="topics-list-msg">
                    <h6>如何评价蒋方舟的新书《我承认我不曾历经沧桑》？</h6>
                    <nav class="topics-list__nav">
                        <ul>
                            <li>
                                <a href="#" class="active">
                                    <i class="fa fa-thumbs-up"></i>
                                    21
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="topics-list-msg">
                    <h6>如何评价蒋方舟的新书《我承认我不曾历经沧桑》？</h6>
                    <nav class="topics-list__nav">
                        <ul>
                            <li>
                                <a href="#" class="active">
                                    <i class="fa fa-thumbs-up"></i>
                                    21
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="topics-list-msg">
                    <h6>如何评价蒋方舟的新书《我承认我不曾历经沧桑》？</h6>
                    <nav class="topics-list__nav">
                        <ul>
                            <li>
                                <a href="#" class="active">
                                    <i class="fa fa-thumbs-up"></i>
                                    21
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="topics-list-msg">
                    <h6>如何评价蒋方舟的新书《我承认我不曾历经沧桑》？</h6>
                    <nav class="topics-list__nav">
                        <ul>
                            <li>
                                <a href="#" class="active">
                                    <i class="fa fa-thumbs-up"></i>
                                    21
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    3
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-star"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "bottom-panel-4items.html" %}
{% endblock %}