{% extends "layout.html" %}

{% block content %}

<!-- panel -->
<div class="top-panel transparent">
    <div class="container">
        <div class="top-panel__back">
            <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </div>
        <div class="top-panel__filter">
            <div class="top-panel__filter-trigger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></div>
            <div class="top-panel__filter-drop">
                <ul>
                    <li><a href="#">屏蔽</a></li>
                    <li><a href="#">举报</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end panel -->

<!-- user -->
<div class="user-picture">
    <img src="img/catalog_block.png" alt="">
</div>
<div class="user-desc">
    <div class="container">
        <div class="catalog__top-text">
            <div class="catalog__name">
                <h6>AWWA</h6>
                <i class="vip static">SVIP</i>
                <span>IT互联网 </span>
                <span>运营总监</span>
            </div>
            <div class="catalog__tags">
                <span>30岁</span>
                <span>160cm</span>
                <span>上海</span>
                <span>本科</span>
                <span>期望一年内结婚</span>
            </div>
        </div>
    </div>
</div>
<!-- end-user -->

<div class="main spacing-xs">
    <div class="container">
        <div class="user">
            <div class="user__block">
                <div class="user__title">
                    <h6>认证信息</h6>
                </div>
                <div class="user__content">
                    <div class="user__tags">
                        <figure>
                            <i class="fa fa-id-card" aria-hidden="true"></i>
                            <figcaption>
                                <strong>认证身份</strong>
                                孙**
                            </figcaption>
                        </figure>
                        <figure>
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <figcaption>
                                <strong>认证身份</strong>
                                孙**
                            </figcaption>
                        </figure>
                        <figure>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <figcaption>
                                <strong>认证身份</strong>
                                孙**
                            </figcaption>
                        </figure>
                        <figure>
                            <i class="fa  fa-car" aria-hidden="true"></i>
                            <figcaption>
                                <strong>认证身份</strong>
                                孙**
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="user__block">
                <div class="user__title">
                    <h6>生活照片</h6>
                </div>
                <div class="user__content">
                    <div class="user__tags">
                        <div class="user__tags-img"><img src="img/user-picture.png" alt=""></div>
                        <div class="user__tags-img"><img src="img/user-picture.png" alt=""></div>
                        <div class="user__tags-img"><img src="img/user-picture.png" alt=""></div>
                        <div class="user__tags-img"><img src="img/user-picture.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="user__block">
                <div class="user__title">
                    <h6>详细资料</h6>
                    <div class="more">
                        <span>更多</span>
                    </div>
                </div>
                <div class="user__content">
                    <div class="user__details">
                        <span>25岁</span>
                        <span>178cm</span>
                        <span>20-30k</span>
                        <span>未婚</span>
                        <span class="cols2-l">现居城市：上海</span>
                        <span class="cols2-r">期望一年内结婚</span>
                    </div>
                </div>
            </div>
            <div class="user__block">
                <div class="user__title">
                    <h6>择偶标准</h6>
                    <div class="more">
                        <span>更多</span>
                    </div>
                </div>
                <div class="user__content">
                    <div class="user__details">
                        <span>25岁</span>
                        <span>178cm</span>
                        <span>20-30k</span>
                        <span>未婚</span>
                        <span class="cols2-l">165-170cm</span>
                        <span class="cols2-r">现居城市：上海</span>
                    </div>
                </div>
            </div>
            <div class="user__block">
                <div class="user__title">
                    <h6>择偶标准</h6>
                    <div class="more">
                        <span>更多</span>
                    </div>
                </div>
                <div class="user__content">
                    <div class="user__hobby">
                        <ul>
                            <li>
                                <div class="user__hobby-title"><i class="fa fa-film" aria-hidden="true"></i> 电影</div>
                                <div>动作片</div>
                                <div>科幻片</div>
                                <div>动漫</div>
                            </li>
                            <li>
                                <div class="user__hobby-title"><i class="fa fa-music" aria-hidden="true"></i> 音乐</div>
                                <div>动作片</div>
                                <div>科幻片</div>
                                <div>动漫</div>
                            </li>
                            <li>
                                <div class="user__hobby-title"><i class="fa fa-book" aria-hidden="true"></i> 阅读</div>
                                <div>动作片</div>
                                <div>科幻片</div>
                                <div>动漫</div>
                            </li>
                            <li>
                                <div class="user__hobby-title"><i class="fa  fa-futbol-o" aria-hidden="true"></i> 运动</div>
                                <div>动作片</div>
                                <div>科幻片</div>
                                <div>动漫</div>
                            </li>
                            <li>
                                <div class="user__hobby-title"><i class="fa  fa-cutlery" aria-hidden="true"></i> 美食</div>
                                <div>动作片</div>
                                <div>科幻片</div>
                                <div>动漫</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="user__button user__button-dated">
            <nav class="container">
                <div class="user__button-text">ta向你发送了求认识</div>
                <a href="#" class="button yellow-btn"><i class="fa fa-heart-o" aria-hidden="true"></i>求认识</a href="#">
                <a href="#"  class="button gray-btn "><i class="fa fa-heart" aria-hidden="true"></i>关注</a>
            </nav>
        </div>
    </div>
</div>

{% include "modals.html" %}

{% endblock %}