<!DOCTYPE html>
<html lang="zh" >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="initial-scale=1"/>
    <title>面向对象</title>
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--endbuild-->
</head>
<body>
<div class="wrapper">
    {% block content %} {% endblock %}
</div>


<!--SCRIPT -->
<script src="js/jquery-3.2.1.min.js"></script>
<!--build:js js/main.min.js -->
<script src="js/jquery.jscroll.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<!-- endbuild -->
<script src="js/common.js"></script>
<!-- END OF SCRIPT -->

</body>
</html>
